<div class="footer">
    <div class="footer-content">
        <div class="world">
            <p>WORLD NEWS</p>
        </div>
        <div class="texts">
            <div class="one">
                <p>Home</p>
                <p>Discovery</p>
                <p>Photos</p>
                <p>Contact</p>
            </div>
            <div class="two">
                <p>About</p>
                <p>Help</p>
                <p>Terms</p>
                <p>Guidlines</p>
            </div>
            <div class="three">
                <p>Testimonials</p>
                <p>Advertise</p>
                <p>Integrations</p>
                <p>Careers</p>
            </div>
        </div>
        <div class="search">
            <input type="search" placeholder="Email">
            <img src="../../assets/Assets/compass.png" alt="" class="nav-icon" height="16px">
            <p>Stay in touch with us for the freshest products!</p>
        </div>
        <div class="social">
            <img src="../../assets/Assets/instagram.png" alt="">
            <img src="../../assets/Assets/twitter.png" alt="">
            <img src="../../assets/Assets/facebook.png" alt="">
            <img src="../../assets/Assets/earth.png" alt="">
        </div>
    </div>
</div>