<div class="learn">
    <div class="learn-content">
        <div class="cards">
            <div class="image">
                <img src="../../assets/Assets/card1.png" alt="">
            </div>
            <div class="content">
                <p>Malory Place</p>
                <p>Nulla pellentesque laoreet ultrices. Phasellus nec lectus mi. Praesent volutpa.</p>
            </div>
            <div class="learn">
                <p>Learn More</p>
                <img src="../../assets/Assets/right.png" alt="">
            </div>
        </div>
        <div class="cards">
            <div class="image">
                <img src="../../assets/Assets/card2.png" alt="">
            </div>
            <div class="content">
                <p>Cottage With a View</p>
                <p>Ut id ipsum eget leo vestibulum egestas. Etiam porta, nisi ac rhoncus facilisis.</p>
            </div>
            <div class="learn">
                <p>Learn More</p>
                <img src="../../assets/Assets/right.png" alt="">
            </div>
        </div>
        <div class="cards">
            <div class="image">
                <img src="../../assets/Assets/card3.png" alt="">
            </div>
            <div class="content">
                <p>Blue Mountain Top</p>
                <p>Vestibulum justo orci, consectetur id arcu id, porttitor maximus nulla. Praesent faucibus commodo
                    mattis.</p>
            </div>
            <div class="learn">
                <p>Learn More</p>
                <img src="../../assets/Assets/right.png" alt="">
            </div>
        </div>
    </div>
</div>