<div class="happening">
    <div class="happening-content">
        <div class="top">
            <div class="left">
                <p>HAPPENING NOW</p>
            </div>
            <div class="right">
                <div class="arrows">
                    <div class="first-img">
                        <img src="../../assets/Assets/back.png" alt="">
                    </div>
                    <div class="second-img">
                        <img src="../../assets/Assets/front.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="left">
                <div class="left-one">
                    <img src="../../assets/Assets/img2.png" alt="">
                    <div class="center-content">
                        <div class="cen-top">
                            <p>CITY</p>
                        </div>
                        <div class="cen-bot">
                            <p class="two">Large Article Title</p>
                            <p class="three">Lorem ipsum dolor sit amet, ipsum labitur lucilius mel id, ad has appareat…
                            </p>
                            <div class="logo">
                                <img src="../../assets/Assets/clock.png" alt="">
                                <p>2m ago</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="left-two">
                    <img src="../../assets/Assets/Image 125.png" alt="">
                    <div class="center-content">
                        <div class="cen-top">
                            <p>TRAVEL</p>
                        </div>
                        <div class="cen-bot">
                            <div class="cen-bot">
                                <p class="two">Large Article Title</p>
                                <p class="three">Lorem ipsum dolor sit amet, ipsum labitur lucilius mel id, ad has
                                    appareat…
                                </p>
                                <div class="logo">
                                    <img src="../../assets/Assets/clock.png" alt="">
                                    <p>2m ago</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="cards">
                    <img src="../../assets/Assets/small1.png" alt="">
                    <p>Small Title</p>
                    <div class="clock">
                        <img src="../../assets/Assets/clock.png" alt="">
                        <p>3h ago by Worldnews</p>
                    </div>
                </div>
                <div class="cards">
                    <img src="../../assets/Assets/small2.png" alt="">
                    <p>Small Title</p>
                    <div class="clock">
                        <img src="../../assets/Assets/clock.png" alt="">
                        <p>4h ago by Days</p>
                    </div>
                </div>
                <div class="cards hide">
                    <img src="../../assets/Assets/small3.png" alt="">
                    <p>Small Title</p>
                    <div class="clock">
                        <img src="../../assets/Assets/clock.png" alt="">
                        <p>3h ago by Monica</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>